.menu-btn {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.menu-btn span{
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all, 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}
.menu {
    z-index: 100;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(229, 226, 212, 0.9);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    transition: transform 0.5s;
    transform: translateX(-100%);
}
.menu li {
    list-style-type: none;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.menu-btn.active span:nth-of-type(1) {
    opacity: 0;
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.menu.active {
    transform: translateX(0);
}