@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.body {
    background-color: rgb(255 251 235);

}

.contentBlock {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* сделали, чтобы подвал был внизу */
    margin-top: 80px;
    margin-right: 20px; /* 12px */
    margin-left: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* перенос */
    margin-top: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    background-color: rgb(229, 226, 212);
    color: black;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    -webkit-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    transition: all 300ms ease-in-out;
}
.card::before {
    content: "";
    display: block;
    width: 150%;
    height: 100%;
    background-color: #bababa;
    transform: skewY(345deg);
    position: absolute;
    top: -50%;
    z-index: 1;
    transition: 0.5s;
}
.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card:hover .cardImg {
    width: 65%;
}


.gorizontalCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    width: 630px;
    height: 100px;
    background-color: rgb(229, 226, 212);
    color: black;
    /*border-radius: 20px;*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
    margin-right: 10px;
    margin-bottom: 20px;
}

.topLine {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, transparent 0%, #8a9aae 100%);
}

.rightLine {
    position: absolute;
    height: 100%;
    width: 2px;
    top: -100%;
    right: 0;
    background: linear-gradient(180deg, transparent 0%, #8a9aae 100%);
}

.bottomLine {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
    background: linear-gradient(270deg, transparent 0%, #8a9aae 100%);
}

.leftLine {
    position: absolute;
    height: 100%;
    width: 2px;
    bottom: -100%;
    left: 0;
    background: linear-gradient(360deg, transparent 0%, #8a9aae 100%);
}

.gorizontalCard:hover .topLine {
    left: 100%;
    transition: 1s;
    transition-delay: 0s;
}


.gorizontalCard:hover .rightLine {
    top: 100%;
    transition: 1s;
    transition-delay: 400ms;
}

.gorizontalCard:hover .bottomLine {
    right: 100%;
    transition: 1s;
    transition-delay: 800ms;
}

.gorizontalCard:hover .leftLine {
    bottom: 100%;
    transition: 1s;
    transition-delay: 1200ms;
}

.cardImg {
    width: 50%;
    z-index: 2;
    transition: 0.5s;
}



/* когда ширина меньше 1080 этот запрос работает */
@media (max-width: 900px) {

}

@media (max-width: 600px) {
    .logOutButton {
        padding: 2px 5px;
    }
    .pageName{
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .rightBlock {
        display: flex;
        justify-content: right;
    }
}

@media (max-width: 670px) {
    .card {
        width: 150px;
        height: 200px;
        font-size: 0.6rem;
    }
    .cardImg {
        width: 40%;
    }
    .card:hover .cardImg {
        width: 55%;
    }
    .gorizontalCard {
        width: 430px;
        height: 100px;
    }
}

@media (max-width: 530px) {
    .contentBlock {
        height: auto;
    }
    .gallery {
        flex-direction: column;
    }
    .card {
        width: 180px;
        height: 220px;
        font-size: 0.7rem;
    }
    .cardImg {
        width: 45%;
    }
    .card:hover .cardImg {
        width: 60%;
    }
    .gorizontalCard {
        width: 400px;
        height: 80px;
        font-size: 0.7rem;
    }
}

@media (max-width: 420px) {
    .gorizontalCard {
        width: 270px;
        height: 60px;
        font-size: 0.5rem;
    }
}