@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #c7c7c7;
}

.body {
    background-color: rgb(255 251 235);
}

.navBar {
    background: rgba(204, 204, 204, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 65px;
    width: 98%;
}


.header {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    height: 64px;
    align-items: center;
    margin: 0 20px;
}

.pageName {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
    color: #2c2a2a;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

}

.bgVideo {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

.authBlock
{
    width: 100%;
    display: flex;
    justify-content: center;

}


.authForm {
    color: #2c2a2a;
    display: flex;
    border-radius: 10px;
    margin-top: 150px;
    flex-direction: column;
    background: rgba(204, 204, 204, 0.4);
    backdrop-filter: blur(2px);
    padding: 15px;
    align-items: center;
    width: 35%;
    min-width: 200px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.inputText {
    width: 100%;
    border: 1px solid #adadad;
    padding: 8px;
    margin-bottom: 15px;
    background: rgba(75, 80, 113, 0);
    border-radius: 10px;
    font-size: medium;
    outline: none;
    color: #2c2a2a;
}
.inputText:focus{
    border: 2px solid rgb(98, 95, 73);
}

form input::placeholder {
    color: #727070;
}

.submitButton {
    text-align: center;
    border: 1px solid #adadad;
    margin-bottom: 15px;
    background: rgba(75, 80, 113, 0);
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    width: 60%;
    padding: 8px;
    transition: background-color 300ms ease-in;
    color: #2c2a2a;
}

.submitButton:hover{
    background: rgb(181, 181, 181);
}
.registerLink{
    color: #2c2a2a;
    margin: 15px;
}

.registerLink:hover{
    text-decoration: underline;
}

/*!* когда ширина меньше 1080 этот запрос работает *!*/
/*@media (max-width: 900px) {*/
/*    .photoBlock {*/
/*        !* делаем 2 картинки в ряд *!*/
/*        width: calc((100% / 2) - 7px);*/
/*        padding-bottom: 35%;*/
/*        margin-bottom: 14px;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .photoBlock {*/
/*        !* делаем 1 картинку в ряд *!*/
/*        width: 100%;*/
/*        padding-bottom: 65%;*/
/*    }*/
/*    .pageName{*/
/*        font-size: 1rem;*/
/*    }*/
/*}*/

