@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #c7c7c7;
}

.body {
    height: 100vh;
    background: -webkit-linear-gradient(90deg, #f8d2c7, #ed9277, rgba(153, 94, 77, 0.45));
    background: linear-gradient(90deg, #f8d2c7, #ed9277, #995e4d);
}

.navBar {
    background: rgba(253, 211, 201, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 65px;
    width: 98%;
}


.header {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    height: 64px;
    align-items: center;
    margin: 0 20px;
}

.pageName {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
    color: #2c2a2a;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 97%;
}


.authBlock
{
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.photo {
    width: 150px;
    position: absolute;
    left: 58%;
    top: 27%;
}


.authForm {
    background: rgba(253, 211, 201, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);



    color: #2c2a2a;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
    flex-direction: column;

    padding: 15px;
    align-items: center;
    width: 100%;
    min-width: 200px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.inputText {
    width: 100%;
    border: 1px solid #9e7b7b;
    padding: 8px;
    margin-bottom: 15px;
    background: rgba(75, 80, 113, 0);
    border-radius: 10px;
    font-size: medium;
    outline: none;
    color: black;
}
.inputText:focus{
    border: 2px solid #765050;
}

form input::placeholder {
    color: #9e7b7b;
}

.submitButton {
    text-align: center;
    border: 1px solid #865151;
    margin-bottom: 15px;
    background: rgba(75, 80, 113, 0);
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    width: 60%;
    padding: 8px;
    transition: background-color 300ms ease-in;
    color: #2c2a2a;
}

.submitButton:hover{
    background: #ca8e7f;
}
.registerLink{
    color: #2c2a2a;
    margin: 15px;
}

.registerLink:hover{
    text-decoration: underline;
}


@media (max-width: 1000px) {
    .photo {
        left: 60%;
        width: 120px;
    }
    .authForm {
        font-size: 0.9rem;
    }
}

@media (max-width: 930px) {
    /*.authBlock {*/
    /*    width: 180%;*/
    /*}*/
}

@media (max-width: 630px) {
    /*.authBlock {*/
    /*    width: 200%;*/
    /*}*/
}

@media (max-width: 545px) {
    /*.authBlock {*/
    /*    width: 250%;*/
    /*}*/
}
