@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.body {
    background-color: rgb(255 251 235);

}

.navBar {
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    background-color: rgb(255 251 235);
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
}
.navBar hr {
    height: 1px;
    border: none;
    color: black;
    background-color: black;
    opacity: 30%;
    margin-block: 0;
    margin-inline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    height: 64px;
    align-items: center;
    margin: 0 20px;
}

.pageName {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
}

.burgerBlock {
    display: flex;
    align-items: center;
    line-height: 0;
}

.burgerBlock .burgerCheckbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.burgerCheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.burgerBlock .burgerCheckbox+label::before {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    content: "";
    /*border: 1px black solid;*/
    background: url("../resources/burger.svg") no-repeat;
    /*background: url("burger.svg") no-repeat;*/
    flex-shrink: 0; /* сколько элементик готов отдать */
    flex-grow: 0; /* сколько элементик готов забрать (свободного пр-ва) */
    width: 24px;
    height: 24px;
}

/* если нажали на бургер, то выдвигается панель */
.burgerBlock .burgerCheckbox:checked ~.studentPanel {
    left: 0;
}

/* сменяем на крестик, когда меню открыто */
.burgerBlock .burgerCheckbox:checked +label::before  {
    background: url("../resources/burger 2.svg") no-repeat;
}

.studentPanel {
    position: fixed;
    background-color: rgb(229, 226, 212);
    height: 100vh;
    margin-right: 20px;
    padding: 20px;
    width: 250px;
    top: 65px;
    left: -250px;
    transition: 400ms ease-in;
}

.studentPanel .help {
    text-decoration: none;
    color: black;
}


.userName {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    transition: letter-spacing 700ms ease-out;
}

.userName:hover {
    text-decoration: underline;
}

.logOutButton {
    background: rgb(239 68 68);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

.logOutButton:hover {
    background: rgb(220 38 38);
}

.contentBlock {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    height: 100vh; /* сделали, чтобы подвал был внизу */
    margin-top: 65px;
    margin-right: 20px; /* 12px */
    margin-left: 20px;
}

.recordBook {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Dropdown Button */
.dropbtn {
    background-color: #88a489;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 87px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #596d5a;}



.footer {
    padding: 16px;
    /*background: #4B5563;*/
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(35, 88, 164, 0.05);
    box-shadow: inset 0px 4px 14px rgba(35, 88, 164, 0.15);
}

.links {
    display: flex;
    list-style: none;
    align-items: center;
}

.link {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

/* когда ширина меньше 1080 этот запрос работает */
@media (max-width: 900px) {

}

@media (max-width: 600px) {
    .logOutButton {
        padding: 2px 5px;
    }
    .pageName{
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .rightBlock {
        display: flex;
        justify-content: right;
    }
}





