.navBar {
    box-sizing: border-box;
    position: fixed;

    z-index: 10;

    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 98%;

    height: 65px;

    background-color: rgba(229, 226, 212, 0.9);
    border-radius: 15px;
    backdrop-filter: blur(2px);

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    height: 100%;
    align-items: center;
    margin: 0 20px;
}

.rightBlock {
    align-items: center;
}

.pageName {
    margin: 35px;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
}

.userName {
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    white-space: nowrap;
    transition: letter-spacing 700ms ease-out;
}

.userName:hover {
    text-decoration: underline;
}

.logOutButton {
    background: rgb(239 68 68);
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

.logOutButton:hover {
    background: rgb(220 38 38);
}

@media (max-width: 635px) {
    .pageName {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    .pageName {
        font-size: 1rem;
    }
    .userName {
        font-size: 0.8rem;
    }
    .logOutButton {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .pageName {
        font-size: 1rem;
    }
    .userName {
        font-size: 1rem;
    }
    .logOutButton {
        font-size: 1rem;
    }
    .rightBlock {
        flex-direction: column;
        /*align-items: center;*/
        display: flex;
        justify-content: right;
    }
}

@media (max-width: 461px) {
    .pageName {
        font-size: 1rem;
    }
    .userName {
        font-size: 0.9rem;
        margin: 0;
    }
    .logOutButton {
        font-size: 0.9rem;
        margin: 2px 5px;
    }

}