@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.body {
    background-color: rgb(255 251 235);
    height: 100vh;
}
.contentBlock {
    display: flex;
    justify-content: space-between;
    height: 100%; /* сделали, чтобы подвал был внизу */
    margin-top: 75px;
    margin-right: 20px; /* 12px */
    margin-left: 20px;
}
.userInfo {
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img {
    padding-bottom: 15px;
    width: 100px;
}
.text {
    margin: 7px;
}
.personalInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid black 1px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.mainInfo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: solid black 1px;
    width: 100%;
}

@media (max-width: 410px) {
    .contentBlock {
        font-size: 0.9rem;
    }
}

@media (max-width: 350px) {
    .contentBlock {
        font-size: 0.8rem;
    }
}