@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.body {
    background-color: rgb(255 251 235);
}

.navBar {
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    background-color: rgb(255 251 235);
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
}
.navBar hr {
    height: 1px;
    border: none;
    color: black;
    background-color: black;
    opacity: 30%;
    margin-block: 0;
    margin-inline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    height: 64px;
    align-items: center;
    margin: 0 20px;
}

.pageName {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
}

.burgerBlock {
    display: flex;
    align-items: center;
    line-height: 0;
}

.burgerBlock .burgerCheckbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.burgerCheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.burgerBlock .burgerCheckbox+label::before {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    content: "";
    /*border: 1px black solid;*/
    background: url("../resources/burger.svg");
    flex-shrink: 0; /* сколько элементик готов отдать */
    flex-grow: 0; /* сколько элементик готов забрать (свободного пр-ва) */
    width: 24px;
    height: 24px;
}

/* если нажали на бургер, то выдвигается панель */
.burgerBlock .burgerCheckbox:checked ~.studentPanel {
    left: 0;
}

/* сменяем на крестик, когда меню открыто */
.burgerBlock .burgerCheckbox:checked +label::before  {
    background: url("../resources/burger 2.svg");
}

.studentPanel {
    position: fixed;
    background-color: rgb(229, 226, 212);
    height: 100vh;
    margin-right: 20px;
    padding: 20px;
    width: 250px;
    top: 65px;
    left: -250px;
    transition: 400ms ease-in;
}

.studentPanel .help {
    text-decoration: none;
    color: black;
}


.userName {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    transition: letter-spacing 700ms ease-out;
}

.userName:hover {
    text-decoration: underline;
}

.logOutButton {
    background: rgb(239 68 68);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

.logOutButton:hover {
    background: rgb(220 38 38);
}


.registerBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registerForm {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    width: 26%;
    min-width: 200px;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.inputText {
    width: 100%;
    border: 1px solid #adadad;
    padding: 8px;
    margin-bottom: 15px;
    background-color: rgb(255, 251, 244);
    border-radius: 10px;
    font-size: medium;
    outline: none;
}
.inputText:focus{
    border: 2px solid rgb(98, 95, 73);
}

form input::placeholder {
    color: #adadad;
}
.courseSelect{
    outline: none;
}
.courseSelect:focus{
    border: 2px solid rgb(98, 95, 73);
}

.submitButton {
    border: 1px solid #adadad;
    margin-bottom: 15px;
    background-color: rgb(255, 251, 244);
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    width: 60%;
    padding: 8px;
    transition: background-color 300ms ease-in;
}
.checkBoxAccept {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.checkBoxAccept input{
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.submitButton:hover {
    background-color: rgb(255, 237, 202);
}