@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.body {
    background: rgba(153, 153, 153, 0.5);
}

.registerBlock {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.registerForm {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    width: 26%;
    min-width: 200px;
    /*justify-content: center;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.inputText {
    width: 100%;
    border: 1px solid #adadad;
    padding: 8px;
    margin-bottom: 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    font-size: medium;
    outline: none;
}
.inputText:focus{
    border: 2px solid rgb(98, 95, 73);
}

form input::placeholder {
    color: #adadad;
}
.courseSelect{
    outline: none;
}
.courseSelect:focus{
    border: 2px solid rgb(98, 95, 73);
}

.submitButton {
    text-align: center;
    border: 1px solid #adadad;
    padding: 8px;
    background-color: rgb(255, 251, 244);
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    width: 60%;
    transition: background-color 300ms ease-in;
    margin: 15px;
}
.checkBoxAccept {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.checkBoxAccept input{
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.submitButton:hover {
    background: rgb(195, 195, 195);
    border: 1px solid #4a688d;
}

.loginLink {
    color: #2c2a2a;
    margin: 15px;
}

.loginLink:hover{
    text-decoration: underline;
}


